APP_NAME="Umzugland.at"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://umzugland.at
APP_TIMEZONE=Europe/Vienna
SEO_SITE_URL=https://umzugland.at
SEO_SITE_NAME=Umzugland.at

ADMIN_EMAIL=your-admin@example.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_ENGINE=InnoDB
DB_DATABASE=laravel_blog
DB_USERNAME=laravel_blog_user
DB_PASSWORD=change-me

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=strict
SESSION_SECURE_COOKIE=true

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="office@umzugland.at"
MAIL_FROM_NAME="Umzugland.at"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SENTRY_TRACES_SAMPLE_RATE=1.0

PUBLISH_QUEUE_EXCLUDED_IDS=
